In [27]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sfunc import run_forest, one_hot,answer, intensity, quality

In [28]:
stroke = pd.read_csv('Datasets/stroke.csv')

In [29]:
pd.set_option('display.max_columns', 100)

In [30]:
print(len(stroke))

5110

In [31]:
stroke.columns = stroke.columns.str.strip()
print(stroke.columns)
stroke.head()

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [32]:
stroke.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [33]:
#drop unnecessary columns
stroke.drop(['id'], axis=1, inplace=True)

In [34]:
print(stroke['stroke'].value_counts(normalize=True))

stroke
0    0.951272
1    0.048728
Name: proportion, dtype: float64

In [35]:
stroke = one_hot(stroke, ['Residence_type', 'work_type'])

stroke['gender'] = stroke['gender'].map({'Male': 0, 'Female': 1})
stroke['ever_married'] = stroke['ever_married'].map({'Yes': 0, 'No': 1})
stroke['smoking_status'] = stroke['smoking_status'].map({'Unknown': 0, 'never smoked': 1, 'formerly smoked': 2, 'smokes': 3})

In [36]:
print(stroke.corr()['stroke'].sort_values(key = lambda x: x.abs(), ascending = False))

stroke                     1.000000
age                        0.245257
heart_disease              0.134914
avg_glucose_level          0.131945
hypertension               0.127904
ever_married              -0.108340
work_type children        -0.083869
work_type Self-employed    0.062168
smoking_status             0.054914
bmi                        0.042374
Residence_type Rural      -0.015458
Residence_type Urban       0.015458
work_type Never_worked    -0.014882
work_type Private          0.011888
gender                    -0.009081
work_type Govt_job         0.002677
Name: stroke, dtype: float64

In [39]:
test_forest = run_forest(stroke, 'stroke')
stroke_cleaned = stroke[['avg_glucose_level', 'bmi', 'age', 'smoking_status', 'gender', 'stroke']]
stroke_forest = run_forest(stroke_cleaned, 'stroke')

avg_glucose_level          0.262793
bmi                        0.244574
age                        0.234901
smoking_status             0.073157
gender                     0.031528
hypertension               0.030171
heart_disease              0.027144
ever_married               0.017300
Residence_type Rural       0.016717
work_type Private          0.016231
Residence_type Urban       0.015663
work_type Self-employed    0.015603
work_type Govt_job         0.012161
work_type children         0.002017
work_type Never_worked     0.000041
dtype: float64
0.952054794520548
CV Accuracy: 0.9499021526418787 (+/- 0.0011410864764863277)

[[1.   0.  ]
 [0.98 0.02]
 [0.99 0.01]
 [1.   0.  ]
 [0.96 0.04]
 [0.98 0.02]
 [0.73 0.27]
 [1.   0.  ]
 [0.9  0.1 ]
 [0.9  0.1 ]]
avg_glucose_level    0.348176
bmi                  0.290031
age                  0.261473
smoking_status       0.065372
gender               0.034948
dtype: float64
0.9500978473581213
CV Accuracy: 0.9475538160469666 (+/- 0.0034787453688123757)

[[1.   0.  ]
 [0.98 0.02]
 [0.96 0.04]
 [1.   0.  ]
 [0.97 0.03]
 [1.   0.  ]
 [0.58 0.42]
 [1.   0.  ]
 [0.83 0.17]
 [0.92 0.08]]